@import "reset.css";
/*...impoting fonts...*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');

/*.................*/

:root {
	--white: #fff;
	--black: #333;
	--accent: #FF496C;

}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.cormorant-garamond-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
}


body {
	background: #555;
	font-family: "Cormorant Garamond", serif;
  	font-size: 1rem;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.wrapper {
	width: 96%;
	max-width: 1100px;
	margin-inline: auto;
	overflow: hidden;
	border: 2px solid black;

}

.main {
	overflow: hidden;
}


/*...header style...*/
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	z-index: 999;
	border: 2px dashed pink;
}

.nav {
	border: 1px solid white;
	position: relative;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__menu {
	border: 3px dashed green;
}

.nav__logo {
	color: var(--white);
	font-weight: 400;
	font-size: 1.3rem;
	letter-spacing: 5px;

}

.nav__list {
	display: flex;
	flex-direction: row;
	column-gap: 4rem;
}

.nav__link {
	color: var(--white);
	font-weight: 600;
}
.nav__link:hover {
	text-decoration: underline;
	color: var(--accent);
	opacity: 0.8;
}

.nav__closeBtn,
.nav__hamburger {
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--white);
	display: none;
}



/*...header style ends...*/

/*...hero style...*/


.hero__slider {
	position: relative;
	z-index: 55;
}

.hero__article {
	position: relative;
	padding-top: 11rem;
	width: 100%;
	height: 100vh;
	border: 2px solid red;
}

.hero__img,
.hero__filter,
.hero__contact {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hero__img {
	object-fit: cover;
	object-position: center;
	z-index: -1;
}

.hero__filter {
	background-color: hsla(0,0%,0%, 0.45);
	z-index: -1;
}

.hero__data {
	text-align: center;
}

.hero__title {
	color: var(--white);
	font-size: 4rem;
	margin-bottom: 2rem;
	font-weight: 700;
}

.hero__btn {
	color: var(--accent);
	font-size: 1.3rem;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}

.hero__btn i {
	font-size: 1.8rem;
	font-weight: 400;
	transition: transform 0.4s;
}

.hero__btn:hover i{
	transform: translateX(0.5rem);
}



.hero__contact {
	
	border: 4px solid purple;
	

	
}
.hero__socials {
	border: 1px dashed blue;
	position: absolute;
	z-index: 55;
	left: 5%;
	bottom: 1rem;
	display: flex;

	display: grid;
	gap: 1.2rem;
}

.hero__socialLink {
	color: var(--white);
	opacity: 0.65;
	font-size: 1.5rem;
}

.hero__socialLink:hover {
	opacity: 1;
}


/*slider*/
.slider__slide {
	display: none;
}

.slider__slide--display {
	display: block;
	animation-name: fade;
	animation-duration: 1.5s;
}

.slider__buttons {
	position: absolute;
	border: 1px dashed yellow;
	/*transform: translateY(-50%);*/
	right: 5%;
	bottom: 1rem;
	color: var(--white);
	font-size: 1.8rem;
	font-weight: 400;
}

.slider__prevBtn,
.slider__nextBtn {
	opacity: 0.65;
	transition: transform 0.4s;
	cursor: pointer;
}

.slider__prevBtn:hover {
	opacity: 1;
	transform: translateX(-0.5rem);
}
.slider__nextBtn:hover {
	opacity: 1;
	transform: translateX(0.5rem);
}

.slider__prevBtn {
	margin-right: 1rem;
}

@keyframes fade {
	from {opacity: 0.5}
	to {opacity: 1;}
}


/*...hero style ends...*/





/*....MEDIA QUERIES....*/

/*Mobile nav*/
@media (max-width: 1100px) {
	.nav__menu {
		position: fixed;
		top: 0;
		right: -100%;
		background-color: hsla(0,0,100%, 0.1);
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
		width: 80%;
		height: 100%;
		padding: 5rem 3rem 0;
		transition: right 0.5s;
	}
	.nav__list {
		display: flex;
		flex-direction: column;
		row-gap: 3rem;
	}
	

	.nav__closeBtn,
	.nav__hamburger {
	display: block;
	}

	.nav__closeBtn {
		position: absolute;
		top: 1rem;
		right: 1.5rem;
	}
	.nav__menu--show {
		right: 0;
	}
/*Changing size and gaps for smaller screen */
	.hero__title {
	font-size: 3.4rem;
	margin-bottom: 1rem;
	}

	.hero__socials {
	gap: 0.7rem;
	}

	.hero__socialLink {
	font-size: 1.4rem;
	}
}

@media (max-width: 740px) {

	.hero__title {
	font-size: 2.82rem;
	margin-bottom: 0.5rem;
	}

	.hero__socials {
	gap: 0.4rem;
	}

	.hero__socialLink {
	font-size: 1.3rem;
	}

}

